.home-container {
  padding: 40px;
  height: 100vh;
  .filter-section-wrapper {
    border: 1px solid;
    .filter-section {
      height: calc(100vh - 120px);
      padding-right: 20px;
      .title-area {
        margin-bottom: 20px;
      }
      .filter-area {
        min-height: 200px;
        .MuiBox-root {
          max-width: calc(100% - 10px);
          &.disabled {
            cursor: not-allowed;
          }
          .MuiFormControl-root {
            &.disabled {
              cursor: not-allowed;
              pointer-events: none;
            };
            .MuiSelect-outlined {
              width: calc(100% - 65px);
            }
          }
        }
      }
      .button-wrapper {
        &.disabled {
          cursor: not-allowed;
        }
        .MuiButton-root {
          width: 100%;
        }
       }
    }
  }
  .chart-container {
    height: calc(100vh - 120px);
    .pie-chart-container, .column-chart-container {
      width: 100%;
    }
  }
}